# Data exploration

This serves only for exploration purposes, no real implementation or prediction here

In [65]:
import pandas as pd
import numpy as np
import xgboost

In [109]:
# Reading all the data

movies = pd.read_csv('../data/movies.csv', delimiter=';', dtype={'movieID':'int', 'year':'int', 'movie':'str'}, names=['movieID', 'year', 'movie'])
predictions = pd.read_csv('../data/predictions.csv', delimiter=';', names=['userID', 'movieID'], header=None)
ratings = pd.read_csv('../data/ratings.csv', delimiter=';', dtype={'userID':'int', 'movieID':'int', 'rating':'int'}, names=['userID', 'movieID', 'rating'])
user = pd.read_csv('../data/users.csv', delimiter=';', dtype={'userID':'int', 'gender':'str', 'age':'int', 'profession':'int'}, names=['userID', 'gender', 'age', 'profession'])

submission = pd.read_csv('../data/submission.csv')

## Movies

In [5]:
movies.tail()

      movieID  year                       movie
3701     3702  2000     Meet_the_Parents_(2000)
3702     3703  2000  Requiem_for_a_Dream_(2000)
3703     3704  2000            Tigerland_(2000)
3704     3705  2000     Two_Family_House_(2000)
3705     3706  2000       Contender,_The_(2000)

In [92]:
movies.isna().sum()

movieID    0
year       0
movie      0
dtype: int64

## Predictions

In [110]:
#predictions.sort_values('userID')
#predictions['userID'].value_counts()
#predictions.sort_values('movieID', inplace=True)
predictions.head()

   userID  movieID
0    1635     1914
1    2077     2124
2    3507     1582
3    1117     2857
4    5298     3281

## Ratings

In [142]:
#r = ratings.groupby('userID', as_index=False, sort=False).mean().drop().rename(columns:{'userID': 'userID'})
# r = ratings.groupby('movieID').size().reset_index(name='count')
# r['count'].value_counts()

# r = ratings.groupby('userID', as_index=False, sort=False) \
#     .mean() \
#     .rename(columns={'userID': 'userID', 'rating' : 'mean_rating'})

# r.drop('movieID', axis=1, inplace=True)
# #r = ratings.groupby('userID', as_index=False, sort=False)['rating'].mean()

# new_r = ratings.merge(r, how='left', on='userID', sort=False)
# #ratings['userID'].value_counts()

# new_r['centered_cosine'] = new_r['rating'] - new_r['mean_rating']

# new_r.head()

# ratings.sort_values('movieID', inplace=True)
# ratings.tail(50)

utility_matrix = ratings.pivot_table(index='userID', columns='movieID', values='rating',
                                         fill_value=0)

original_rating = utility_matrix.values
# for i, row in utility_matrix.iterrows():
#     if(i in range_missing):
#         original_rating = np.vstack([original_rating, row.values])
        
print(original_rating[1635 - 1][9 - 1])

hello = ratings[ratings['userID'] == 1635].sort_values('movieID')
print(hello.head(420))

2
        userID  movieID  rating
135398    1635        1       5
753231    1635        2       3
496145    1635        6       4
504927    1635        7       4
454451    1635        9       2
...        ...      ...     ...
707879    1635     1863       4
243797    1635     1864       3
908481    1635     1866       3
270227    1635     1870       3
870040    1635     1871       2

[420 rows x 3 columns]

## Submission

In [93]:
submission.head()

Id        0
Rating    0
dtype: int64

## Users

In [4]:
user.tail()

      userID gender  age  profession
6035    6036      F   25          15
6036    6037      F   45           1
6037    6038      F   56           1
6038    6039      F   45           0
6039    6040      M   25           6